/* Community Component CSS */

.community-tabs .MuiTabs-indicator {
    background-color: #f2f2f2 !important;
}

.community-tabs .Mui-selected {
    font-weight: 700;
    color: black;
}

.community-tabpanel {
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.community-tabs-info {
    margin-left: 30px !important;
}

@media only screen and (max-width:767px) {
    .community-tabs-info {
        margin-left: 12px !important;
    }
}