@media only screen and (min-width: 800px){
    .Community{
        position: relative;
        top: 1rem;
        display: flex;
        justify-content:space-evenly;
        flex-flow: column wrap;
        margin-right: auto;
        margin-left: auto;
        width: 60vw;
    }

}