
/* Answer and Reply Component CSS */

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.answer-container, .reply-container {
    background: #FFFFFF;
    padding: 20px;
}

.Answer-field {
    background: rgba(0, 0, 0, 0.12);
}

.Answer-field .Mui-focused {
    background: #fff;
}

.image-attach, .file-attach {
    float: right;
}

.Cancel-answer, .Cancel-reply {
    margin-right: 30px !important;
    background: white !important;
    color:rgba(0, 0, 0, 0.87) !important;
}

.Submit-answer, .Submit-reply {
    background: #B0343C !important;
    color: #FFFFFF !important;
}


/* Reply Design CSS */

.topReply{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    line-height: 0;
}

.topReply1{
    padding-left: 10px;
}

.topReply2{
    display: flex;
}

.topReply2 p{
    padding-left: 10px;
    font-size: 14px;
    color: #333333;
    position: relative;
    bottom: 5px;
}

.topReplyHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btmReply{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.btmReply2, .btmReply1{
    display: flex;
    align-items: center;
}

.ReplyBody {
    border-left: 2.5px solid #b32800;
}

.ReplyBody-Container {
    max-width: 40vw;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px silver;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 12rem;
}
