
/* Answer and Reply Component CSS */

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.answer-container, .reply-container {
    background: #FFFFFF;
    padding: 20px;
}

.Answer-field {
    background: rgba(0, 0, 0, 0.12);
}

.Answer-field .Mui-focused {
    background: #fff;
}

.image-attach, .file-attach {
    float: right;
}

.Cancel-answer, .Cancel-reply {
    margin-right: 30px !important;
    background: white !important;
    color:rgba(0, 0, 0, 0.87) !important;
}

.Submit-answer, .Submit-reply {
    background: #B0343C !important;
    color: #FFFFFF !important;
}


/* Reply Design CSS */

.topReply{
    display: flex;
    align-self: center;
    padding: 5px 10px;
    line-height: 0;
}

.topReply1{
    padding-left: 10px;
    font-size: 15px;
    align-self: center;
}

.topReply2{
    color: #333333 !important;
}

.topReplyHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btmReply{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}

.btmReply .MuiSvgIcon-fontSizeSmall {
    font-size: 1rem;
}

.btmReply2, .btmReply1{
    display: flex;
    align-items: center;
}

.btmReply1 button, .btmReply2 {
    font-size: 16px;
}

.ReplyBody {
    border-left: 1px solid lightgray;
    padding: 4px;
}

.ReplyBody-content {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 17px !important;
    font-weight: normal;
    overflow: hidden;
}

.QuesText {
    overflow: hidden;
}

.ReplyBody-Container {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}
