.mainQuesCard .QuesCard,.mainQuesCard .PopularPosts,.mainQuesCard .BookPdf{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #c2c0c0;
    margin: 15px 10px;
    background-color: #fff;
    line-height: 20px;
    height: auto;
    padding: 0px;
    z-index: 1;
    background-color: '#f0f0f0';
}

.mainQuesCard .QuesCard .topQues{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    line-height: 0;
}

.mainQuesCard .QuesCard .topQues img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.mainQuesCard .QuesCard .topQues .topQues1{
    padding-left: 10px;
}

.mainQuesCard .QuesCard .topQues .topQues2{
    display: flex;
}

.mainQuesCard .QuesCard .topQues .topQues2 p{
    padding-left: 10px;
    font-size: 14px;
    color: #333333;
    position: relative;
    bottom: 5px;
}

.mainQuesCard .QuesCard .topQuesHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainQuesCard .QuesCard .middleQues{
   display: flex;
   flex-flow: column wrap;
    padding: 0px 10px;
    position: relative;
    /* bottom: 15px; */
}

.mainQuesCard .QuesCard .middleQues p:nth-child(2){
    position: relative;
    /* bottom: 10px; */
    color: #333333
}

.mainQuesCard .QuesCard .middleQues img {
    width: 100%;
    height: 150px;
}

.mainQuesCard .QuesCard .btmQues,.mainQuesCard .BookPdf .btmQues{
    position: relative;
    /* bottom: 2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}


.mainQuesCard .QuesCard .btmQues .btmQues2,.mainQuesCard .BookPdf .btmQues .btmQues2{
    display: flex;
    align-items: center;
}

.mainQuesCard .QuesCard .btmQues .btmQues1,.mainQuesCard .BookPdf .btmQues .btmQues1 {
    display: flex;
    align-items: center;
}

.mainQuesCard .QuesCard .btmQues .btmQues1 .cardIcons,.mainQuesCard .BookPdf .btmQues .btmQues1 .cardIcons{
    display: flex;
    align-items: center;
}

.mainQuesCard .QuesCard .btmQues .btmQues1 .cardIcons p,.mainQuesCard .BookPdf .btmQues .btmQues1 .cardIcons p {
    color: rgb(38, 0, 176);
}

.mainQuesCard .PopularPosts{
    margin-bottom: 70px;
    line-height: 15px;
}

.mainQuesCard .PopularPosts .allPosts{
    display: flex;
    flex-flow: column wrap;
}

.mainQuesCard .PopularPosts .postTitle .postTitle1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainQuesCard .PopularPosts .postTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainQuesCard .PopularPosts .postTitle h3{
    margin-left: 10px;
    color: #545454
} 

.mainQuesCard .PopularPosts .allPosts .post{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainQuesCard .PopularPosts .allPosts .post p:nth-child(1){
    color: #B0343C;
    font-size: 18px;
}

.mainQuesCard .PopularPosts .allPosts .post p:nth-child(2){
    color: rgb(38, 0, 176);
    font-size: 16px;
}

.mainQuesCard .BookPdf .bpHead{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 20px
}

.mainQuesCard .BookPdf .bpHead h3{
    margin-left: 20px;
}

.mainQuesCard .BookPdf .body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
}

.mainQuesCard .BookPdf .body::-webkit-scrollbar {
    display: none;
  }
.mainQuesCard .BookPdf .body::-moz-scrollbar {
    display: none;
  }  

.mainQuesCard .BookPdf .body .body1{
    margin: 5px;
    width: 260px;
    border: 5px solid #EFEAEA;
    padding: 5px;
    line-height: normal;
    border-radius: 7px;
}

.mainQuesCard .BookPdf .body1 img{
    width: 250px;
}

.mainQuesCard #deskBtmQeus1{
    display: none;
}

.mainQuesCard .commentCont{
    max-width: 40vw;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px silver;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.mainQuesCard .comments{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.mainQuesCard .comments .commentTexts{
    margin-left: 10px;
    background-color: #F3F6F8;
    width: 100vw;
    padding-left: 10px;
    border-radius: 0px 15px 15px 15px;
}

.mainQuesCard .comments .commentTexts .commentName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainQuesCard .comments .commentTexts .commentName p:last-child{
    margin-left: 5px;
    color: rgb(94, 94, 94);
    font-size: 14px;
}

@media only screen and (min-width: 800px)
{
    .mainQuesCard .QuesCard,.mainQuesCard .BookPdf{
        max-width: 42vw;
        padding: 10px;
    }
    
    .mainQuesCard .PopularPosts{
        max-width: 24vw;
        padding: 10px 20px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 25%;
    }
    .mainQuesCard .PopularPosts .allPosts .post p{
        margin-left:  10px;
        margin-right:  10px;
    }
    .mainQuesCard{
        display: flex;
        justify-content: center;
        
    }
    .mainQuesCard #mobBtmQeus1{
        display: none;
    }
    .mainQuesCard #deskBtmQeus1{
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .mainQuesCard .QuesCard .middleQues img{
        height: 300px;
    }
    .mainQuesCard .BookPdf .body{
        overflow: scroll;
    }

    .mainQuesCard .BookPdf .body::-webkit-scrollbar {
        display: block;
    }
    .mainQuesCard .BookPdf .body::-moz-scrollbar {
        display: block;
    }  

    .mainQuesCard .BookPdf .body::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    .mainQuesCard .BookPdf .body::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        /* background-color: rgba(0, 0, 0, .5); */
        background-color: #B0343C;
    }
}
