/* Profile Component CSS */

.profile-bg {
    background: radial-gradient(20.76% 132.89% at 50% 50.22%, #B0343C 0%, #545D62 100%);
    align-content: center;
    height: 225px;
}
.profile-mob-tabs-info {
    padding: 16px;
}

.profile-mob-tabs .MuiTabs-indicator {
    background-color: #FFFFFF;
}

.profile-mob-tabs-heading {
    margin-left: 10px !important;
}

.profile-info-bg, .profile-mob-tabs-info {
    background: url('/assets/images/profile-back.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.profile-info-contributions, .profile-info-about {
    padding-left: 80px;
}

.profile-info-bg h3 {
    color: rgba(0, 0, 0, 0.54);
}

.profile-page {
    background-color: #FFFFFF;
}

.username {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.profile-buttons {
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
    box-sizing: border-box !important;
    margin: 5px !important;
    border-radius: 0px !important;
}

.contribute-section .MuiAccordion-rounded {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    box-shadow: none;
    border-radius: 0px !important;
}

.profile-mob-tabs {
    margin-top: 10px;
    color: #FFFFFF;
}

.drop-down {
    text-align: center;
    width: 100%;
}

.profile-badge .MuiBadge-badge {
    padding: 2px !important;
    cursor: pointer;
}

.edit-profile {
    font-size: 0.9rem !important;
}

.profile-page .edit-prof-btn {
    width: 30px;
    margin-top: -50px;
    height: 30px;
    float: right;
}

.posted, .post-cat {
    margin-top: -10px;
    font-size: 13px;
    width: 50%;
}

.QuesCard .topQues {
    padding: 0px;
    padding-top: 5px;
}

.post-cat {
    text-align: right;
}

@media only screen and (max-width:900px) {
    .MuiAccordionDetails-root {
        padding: 0px !important;
    }
    .profile-bg {
        background: radial-gradient(43.75% 70% at 50% 26%, #B0343C 0.64%, #545D62 100%);
    }
    .profile-info-contributions, .profile-info-about {
        padding-left: 20px;
        padding-right: 20px;
    }
    .profile-page .edit-prof-btn {
        width: 30px;
        margin-right: -40px;
        margin-top: -30px;
        height: 30px;
        float: right;
    }
}

.profile .QuesCard{
    max-width: 100%;
    text-align: left;
}