.post-tabs .MuiTabs-indicator {
    background-color: #f2f2f2 !important;
}

.post-tabs .Mui-selected {
    font-weight: 700;
    color: #b32800;
}

.post-tabpanel {
    background-color: #f2f2f2;
}

.question-cat-container, .poll-cat-container, .post-cat-container {
    background: #FFFFFF;
    padding: 15px;
}

.cat-chooser select {
    padding-left: 20px;
}

.question-cat-container .cat-chooser-select, .poll-cat-container .cat-chooser, .post-cat-container .cat-chooser {
    background: #f2f2f2;
}

.filter-cat-container .cat-chooser-select, .filter-cat-container .MuiNativeSelect-select:focus {
    background-color: white;
} 

.filter-cat-container .cat-chooser {
    margin-top: -3px;
}

.cat-chooser .MuiInput-underline:before, .cat-chooser .MuiInput-underline:after {
    border-bottom: none !important;
}

.cat-chooser svg{
    display: none !important;
}

.post-form .MuiInputAdornment-root {
    align-items: flex-end !important;
}

.ask-tab-forms {
    background: #f2f2f2;
    padding-bottom: 50px;
    text-align: left;
}

@media only screen and (min-width: 800px) {
    .ask-tab-forms {
        width: 80%;
    }
}