body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 20vh;
  }

  
.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #b32800;
    display: block;
    transition: 0.3s;
  }
  
    .sidenav .nav:hover {
    background-color: rgb(232, 232, 232);
        border-radius: 25px;
  }
  


.sidenav .nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: normal;
    height: 40px;
    margin-top: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.sidenav .nav p{
    font-size: 17px;
    color: "#b32800";
    min-width: 200px;
}
  
.sidenav .nav img{
  width: 21px;
  height: 21px;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }