.LibraryHeader .libraryHead{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    bottom: 20px;
    margin: 0px 10px;
}

.LibraryHeader .libraryHead .libraryHead1{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.LibraryHeader .btmFilter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2rem;
}

.LibraryHeader .btmFilter p{
    background: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px silver;
}
