.LibraryHeader .libraryHead{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.LibraryHeader .libraryHead .libraryHead1{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    left: 10px;
}

@media only screen and (min-width: 800px){
    .LibraryHeader .libraryHead .libraryHead1{
        position: relative;
        left: 19vw;
    }

    
}